---
layout: default
title: socail
---
{% include slider.html %}
{% include welcomesociety.html %}
{% include fusionRow.html %}

<section class="galarySec">
    <div class="maingellery">
        <div class="gallaryTitle text-center">
            <h1>COURSE CATEGORIES</h1>
        </div>
        <div class="container">
            <div class="gellaryImg">
                <a href="">
                    <img src="./assets/images/international-school.jpg" alt="">
                </a>
            </div>
            <div class="gellaryImg1">
                <a href="">
                    <img src="./assets/images/international-school.jpg" alt="">
                </a>
            </div>
            <div class="gellaryImg2">
                <a href="">
                    <img src="./assets/images/international-school.jpg" alt="">
                </a>
            </div>
            <div class="gellaryImg3">
                <a href="">
                    <img src="./assets/images/international-school.jpg" alt="">
                </a>
            </div>
            <div class="gellaryImg4">
                <a href="">
                    <img src="./assets/images/international-school.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!--fusion blog-->
<section class="fusionBlogSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blogTitle">
                    <h1>EVENTS & ACTIVITES</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="blogItem">
                    <div class="blogImg">
                        <img src="./assets/images/oesiswomensday-700x441.jpg" alt="">
                    </div>
                    <a href=""> Celebrated Power of Mothers on eve of Women s Day - OESIS</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="blogItem">
                    <div class="blogImg">
                        <img src="./assets/images/oesisholi-700x441.jpg" alt="">
                    </div>
                    <a href=""> Celebrated Power of Mothers on eve of Women s Day - OESIS</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="blogItem">
                    <div class="blogImg">
                        <img src="./assets/images/ocp-700x441.jpg" alt="">
                    </div>
                    <a href=""> Celebrated Power of Mothers on eve of Women s Day - OESIS</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="blogItem">
                    <div class="blogImg">
                        <img src="./assets/images/ocp-700x441.jpg" alt="">
                    </div>
                    <a href=""> Celebrated Power of Mothers on eve of Women s Day - OESIS</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blogBtn text-center">
                    <a href=""> read more <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--fusion blog-->