<section class="headerMenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="#"> <img src="./assets/images/logo.png" alt="logo" /></a>
                </div>
            </div>
            <div class="col-lg-9" >
                <nav class="text-right">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About oes</a></li>
                        <li><a href="">courses</a></li>
                        <li><a href="">our campuses</a></li>
                        <li><a href="">students cornar</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>