<section class="headerMenu">
    <div class="Mfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="index.html"> <img src="./assets/images/logo6.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-9" >
                    <nav class="text-right">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="mission_vision.html">Mission and Vision statement</a></li>
                            <li><a href="committee.html"> New Committee 2017</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="contact.html">contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>