<section class="welcomeSocietySec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="welSocietyTitle text-center">
                    <h1>WELCOME TO ORIENTAL EDUCATION SOCIETY</h1>
                    <img src="./assets/images/hr.png" alt="">
                    <p>Oriental College of Education one of the most leading and greatest academic department of Oriental Education Society. Oriental Education Society was established in the year 1992 under the dynamic leadership
                        <br/><span>of well known educationist Prof. Javed Khan.</span></p>
                    <a href="#">read more...</a>
                </div>
            </div>
        </div>
    </div>
</section>