<section class="welcomeSocietySec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="welSocietyTitle text-center">
                    <h1>Welcome to Brahmanbaria Community of<br> North America, Inc.</h1>
                    <img src="./assets/images/hr.png" alt="">
                    <p>The Brahmanbaria Community of North America, Inc. (BCNA) dedicates to the well-being of all Non Resident Bangladeshi resides in USA and cares and integrates systems of social development services that facilitates human skill development and improves the quality of life that efforts contributing to a world which recognizes, respects, and values the socioeconomic, political, legal and environmental aspirations of marginalized and vulnerable communities on an equality basis that promotes a sustainable, equitable prosperous and peaceful society.
                        <br/><span>of well known educationist Prof. Javed Khan.</span></p>
                    <a href="#">read more...</a>
                </div>
            </div>
        </div>
    </div>
</section>